body {
  /*     background-image: url(../images/loadingBanner.png);
    background-repeat: no-repeat; 
    background-size: 100%; */
  background: rgb(80, 5, 20);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upperMain {
  margin-top: 100px;

  background: rgba(220, 20, 60, 1);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-color: transparent;
}
.login > form {
  padding: 50px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  margin: 50px 0px;
}
input:focus {
  border-bottom: 1px solid black;
  background: transparent;
  margin: 50px 0px;
  outline: transparent;
}
h2 {
  color: rgb(250, 250, 250);
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#login {
  width: 80%;
  height: 30px;
  border-radius: 10px;
  background: white;
  border: 1px solid rgb(80, 5, 20);
}
#login:hover {
  background: rgb(170, 156, 156);
  border: none;
}
label {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
